// Basalt variables and Bootstrap overrides.
// Variables intended for child themes should use !default.

$basalt-layout-spacing: 1.5rem !default;
$basalt-layout-gap: 1rem !default;
$basalt-navigation-gap: 0.5rem !default;
$basalt-navigation-indent: 1rem !default;