:root {
    --basalt-layout-spacing: #{$basalt-layout-spacing};
    --basalt-layout-gap: #{$basalt-layout-gap};
    --basalt-navigation-gap: #{$basalt-navigation-gap};
    --basalt-navigation-indent: #{$basalt-navigation-indent};
}

html {
    min-height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}